<h1><%= link_to image_tag('projector.gif', :size => '100x114'), home_Index_path %>2016 Highest Grossing Films</h1>
<table>
  <tr>
    <th><%= link_to "Index", home_Index_path %></th>
    <th><%= link_to "Class Info", home_ClassInfo_path %></th>
    <th><%= link_to "Midterm Exam", home_MidtermExam_path %></th>
    <th><%= link_to "Genre Info", home_genreCount_path%></th>
    <th><%= link_to "Full Dataset", movies_path %></th>
  </tr>
</table>