<p id="notice"><%= notice %></p>

<p>
  <strong>Series:</strong>
  <%= @rating.series %>
</p>

<p>
  <strong>Viewership:</strong>
  <%= @rating.viewership %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @rating.rating %>
</p>

<p>
  <strong>Share:</strong>
  <%= @rating.share %>
</p>

<p>
  <strong>Date:</strong>
  <%= @rating.date %>
</p>

<p>
  <strong>Network:</strong>
  <%= @rating.network %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
