<p id="notice"><%= notice %></p>

<h1>Gprices</h1>

<table>
  <thead>
    <tr>
      <th>Platform</th>
      <th>Title</th>
      <th>Release</th>
      <th>Price</th>
      <th>Tradevalue</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gprices.each do |gprice| %>
      <tr>
        <td><%= gprice.platform %></td>
        <td><%= gprice.title %></td>
        <td><%= gprice.release %></td>
        <td><%= gprice.price %></td>
        <td><%= gprice.tradeValue %></td>
        <td><%= gprice.rating %></td>
        <td><%= link_to 'Show', gprice %></td>
        <td><%= link_to 'Edit', edit_gprice_path(gprice) %></td>
        <td><%= link_to 'Destroy', gprice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gprice', new_gprice_path %>
