<h1><%= link_to image_tag('VGSlogo.png', :size => '100x100'), home_index_path %>VGSwap</h1>
<table>
  <tr>
    <th><%= link_to "About", home_about_path %></th>
    <th><%= link_to "Index", home_index_path %></th>
    <th><%= link_to "Contact", home_contact_path %></th>
    <th><%= link_to "Search", home_search_path %></th>
    <th><%= link_to "Reports", reports_listing_path%></th>
  </tr>
</table>