<%= form_for(sale) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :customer %>
    <%= f.text_field :customer %>
  </div>

  <div class="field">
    <%= f.label :product %>
    <%= f.text_field :product %>
  </div>

  <div class="field">
    <%= f.label :saleDate %>
    <%= f.date_select :saleDate %>
  </div>

  <div class="field">
    <%= f.label :salePrice %>
    <%= f.text_field :salePrice %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
